#div1{
	height: 100%;
	width:45%;
	border:1px black solid;
	float:left;
}
#div2{
	height: 60%;
	width:55%;
	border:1px black solid;
	float:left;
}
#div1_1{
	height: 65%;
	width:100%;
	border:1px black solid;
	float:left;
	
}
#div1_2{
	height: 35%;
	width:100%;
	border:1px black solid;
	float:left;
	clear:left;
}
#div3{
	height: 40%;
	width:55%;
	border:1px black solid;
	background-color:red;
	float:left;
}

#div1_1_1{
	height:15%;
	width:100%;
	border: 1px red solid;
	padding: 1%;
}

#div1_1_2{
	height:70%;
	width:100%;
	border: 1px red solid;
	
}

#div1_1_3{
	height:15%;
	width:100%;
	border: 1px red solid;
	font-weight: bold;
	font-size:14px;
}

#div1_1_2_1{
	float:left;
	position:absolute;
	z-index:-1;
	margin-left:13%;
}

#div1_1_2_2{
	width:30%;
	position:absolute;
	float:left;
	font-weight: bold;
	font-size:14px;
	z-index:1;
	margin-left:6%;
	margin-top:4%;
}
#div1_1_2_3{
	width:10%;
	position:absolute;
	float:left;
	font-weight: bold;
	font-size:10px;
	z-index:1;
	margin-left:6%;
	margin-top:11%;
}
#div1_1_2_4{
	width:10%;
	position:absolute;
	float:left;
	font-weight: bold;
	font-size:10px;
	z-index:1;
	margin-left:27%;
	margin-top:11%;
}
#div1_2_1{
	width:50%;
	height:100%;
	border: 1px blue solid;
	font-size:10px;
	float:left;
	padding-right:2%;
}

#div1_2_2{
	width:50%;
	height:100%;
	border: 1px green solid;
	float:left;
	padding-left:2%;
}

#c2Menubar {
	border: 1px solid red;
	height:10%;
}

#accuracycontainer{
	height:90%;
}

#losscontainer{
	height:90%;
	display:none;
}

.table > tbody > tr > td {
	padding:5px;
}